<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${title}">"</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h1 th:text="${title}"></h1>
          <br><br>

          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Diagnosis</th>
              <th>Medicines</th>
              <th>Antibiotic</th>
              <th>Notes</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a: ${appointments}">
              <div th:if="${a.getId() != editedId}">
                <td th:text="${a.getId()}"></td>
                <td th:text="${#temporals.format(a.getDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${a.getDiagnosis()}"></td>
                <td th:text="${a.getMedicines()}"></td>
                <td th:text="${a.getAntibiotic().getName()}"></td>
                <td th:text="${a.getNotes()}"></td>
                <td class="row actions">
                  <a class="btn btn-primary btn-sm col" th:href="@{/appointments(editedId=${a.getId()})}">Edit</a>
                  <a class="btn btn-secondary btn-sm col" th:href="@{/appointments/delete/{id}(id=${a.getId()})}">Delete</a>
                </td>
              </div>
              <div th:unless="${a.getId() != editedId}">
                <form method="post" th:action="@{/appointments/edit/{id}(id=${editAppointment.getId()})}" th:object="${editAppointment}">
                  <td><input class="form-control" type="number" th:field="*{id}" disabled> </td>
                  <td><input class="form-control" type="date" th:field="*{date}"></td>
                  <td><input class="form-control" type="text" th:field="*{diagnosis}"></td>
                  <td><input class="form-control" type="text" th:field="*{medicines}"></td>
                  <td>
                    <select class="form-control" th:field="*{antibiotic}">
                      <option th:each="an: ${antibiotics}" th:value="${an}" th:text="${an}"></option>
                    </select>
                  </td>
                  <td><input class="form-control" type="text" th:field="*{notes}"></td>
                  <td><input class="form-control btn btn-primary" type="submit" value="Submit"></td>
                </form>
              </div>
            </tr>
            </tbody>
          </table>
          <br>
          <div class="row col-2">
            <a class="btn btn-primary" th:href="@{/appointments/create}">Create new entry</a>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

</body>
</html>
