<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${title}">"</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h1 th:text="${title}"></h1>
          <br><br>

          <table class="table">
            <thead>
            <tr class="text-center">
              <th>#</th>
              <th>Name</th>
              <th>Starting date</th>
              <th>Ending date</th>
              <th colspan="3">Symptoms</th>
              <th>Appointment</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d : ${diseases}" class="text-center">
              <div th:if="${d.getId() != editedId}">
                <td th:text="${d.getId()}"></td>
                <td th:text="${d.getName()}"></td>
                <td th:text="${#temporals.format(d.getStartingDate(), 'dd-MM-yyy')}"></td>
                <td th:text="${#temporals.format(d.getEndingDate(), 'dd-MM-yyy')}"></td>
                <td th:text="${#strings.toLowerCase(d.getSymptom1())}"></td>
                <td th:text="${#strings.toLowerCase(d.getSymptom2())}"></td>
                <td th:text="${#strings.toLowerCase(d.getSymptom3())}"></td>
                <td>
                  <span th:if="${d.getAppointments().isEmpty() == true}" th:text="no"></span>
                  <span th:unless="${d.getAppointments().isEmpty() == true}" th:text="yes"></span>
                </td>
                <td class="row actions">
                  <a class="btn btn-primary btn-sm col" th:href="@{/diseaseRegister(editedId=${d.getId()})}">Edit</a>
                  <a class="btn btn-secondary btn-sm col" th:href="@{/diseaseRegister/delete/{id}(id=${d.getId()})}">Delete</a>
                </td>
              </div>
              <div th:unless="${d.getId() != editedId}">
                <form method="post" th:action="@{/diseaseRegister/edit/{id}(id=${editDisease.getId()})}" th:object="${editDisease}">
                  <td><input class="form-control" type="number" th:field="*{id}" disabled> </td>
                  <td><input class="form-control" type="text" th:field="*{name}"></td>
                  <td><input class="form-control" type="date" th:field="*{startingDate}"></td>
                  <td><input class="form-control" type="date" th:field="*{endingDate}"></td>
                  <td>
                    <select class="form-control" th:field="*{symptom1}">
                      <option th:each="s: ${symptoms}" th:value="${s}" th:text="${#strings.toLowerCase(s)}"></option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" th:field="*{symptom2}">
                      <option th:each="s: ${symptoms}" th:value="${s}" th:text="${#strings.toLowerCase(s)}"></option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" th:field="*{symptom3}">
                      <option th:each="s: ${symptoms}" th:value="${s}" th:text="${#strings.toLowerCase(s)}"></option>
                    </select>
                  </td>
                  <td><input class="form-control" type="text" th:field="*{appointments}" disabled> </td>
                  <td><input class="form-control btn btn-primary" type="submit" value="Submit"></td>
                </form>
              </div>
            </tr>
            </tbody>
          </table>
          <br>
          <div class="row col-2">
            <a class="btn btn-primary" th:href="@{/diseaseRegister/create}">Create new entry</a>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>

</body>
</html>
