<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${title}">"</title>
</head>
<body>

<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h1 th:text="${title}"></h1>
          <h3 th:text="${profile.name}"></h3>
          <h5 th:text="${currentDate}"></h5>
          <br><br>
          <div>
            <ul>
              <li>
                <h4 th:text="'From the beginning of 2023 until this day, child has been sick for ' + ${sickDaysInYear} + ' days, which is ' + ${sickPercentage} + '% of the time.'"></h4>
                <br>

                <div>
                <canvas id="chartId" aria-label="chart" height="350" width="580" style="margin:50px auto"></canvas>
                </div>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>

                <script th:inline="javascript">
                  var chart = document.getElementById("chartId").getContext("2d");
                  var chartId = new Chart(chart, {
                    type: 'pie',
                    data: {
                      labels: ["healthy", "sick"],
                      datasets: [{
                        data: [[${data}]],
                        backgroundColor: ['#AED6F1', '#2E86C1'],
                      }],
                    },
                    options: {
                      responsive: false,
                      plugins: {
                        legend: {display: false}
                      },
                    },
                  });
                </script>

              </li>
              <li>
                <h4 th:text="'Sick days in every month of 2023:'"></h4>

                <div style="max-width: 800px; margin: 50px auto">
                  <canvas id="myChart"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script th:inline="javascript">
                  const ctx = document.getElementById('myChart');

                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: [[${monthsLabels}]],
                      datasets: [{
                        data: [[${sickDaysEveryMonthData}]],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      plugins: {
                        legend: {display: false}
                      },
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                </script>
              </li>
              <li>
                <h4 th:if="${antibiotics} == 1" th:text=" 'Antibiotic was prescribed ' + ${antibiotics} + ' time in 2023.'"></h4>
                <h4 th:unless="${antibiotics} == 1" th:text=" 'Antibiotics were prescribed ' + ${antibiotics} + ' times in 2023.'"></h4>
              </li>
              <br>
              <li>
                <h4 th:text="'Child has received '+ ${mandatoryVac} + ' out of 14 mandatory vaccinations, and '+ ${recommendedVac} + ' out of 9 recommended vaccinations so far.'"></h4>
              </li>
            </ul>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>

</body>
</html>
