<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title}">"</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1 th:text="${title}"></h1>
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th>Scope</th>
                            <th>Age (in moths)</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Notes</th>
                            <th>Change status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vacc : ${vaccinations}" class="text-center">
                            <td th:text="${vacc.getScope()}"></td>
                            <td th:text="${vacc.getChildrenAgeInMonths()}"></td>
                            <td th:text="${vacc.getName()}"></td>
                            <td th:text="${vacc.getStatus()}"></td>
                            <td th:text="${vacc.getNotes()}"></td>
                            <td>
                                <a th:if="${vacc.getStatus().name().equals('TO_ARRANGE')}" class="btn btn-success btn-sm"
                                   th:href="@{/vaccination/update(id=${vacc.getId()}, vacStatus='DONE')}"
                                   th:text="DONE"></a>
                                <a th:if="${vacc.getStatus().name().equals('ARRANGED')}" class="btn btn-success btn-sm"
                                   th:href="@{/vaccination/update(id=${vacc.getId()}, vacStatus='DONE')}"
                                   th:text="DONE"></a>
                                <a th:if="${vacc.getStatus().name().equals('TO_ARRANGE')}" class="btn btn-primary btn-sm"
                                   th:href="@{/vaccination/update(id=${vacc.getId()}, vacStatus='ARRANGED')}"
                                   th:text="ARRANGED"></a>
                                <!--<a th:unless="${vacc.getStatus().name().equals('TO_ARRANGE')}" class="btn btn-primary btn-sm"
                                   th:href="@{/vaccination/update(id=${vacc.getId()}, status='TO_ARRANGE')}"
                                   th:text="TO_ARRANGE"></a>-->
                                <a th:if="${vacc.getStatus().name().equals('TO_ARRANGE')}" class="btn btn-dark btn-sm"
                                   th:href="@{/vaccination/update(id=${vacc.getId()}, vacStatus='N_A')}"
                                   th:text="N_A"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
